@import "../node_modules/bootstrap/scss/bootstrap";

.header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: $indigo-800;
    color: azure;
}

.offcanvas-header{
    color: azure;
    background-color: $indigo-800;
}

.head {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;
}

.logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 2vh auto;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
}

.content {
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
}

.content h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-items {
    background-color: $indigo-700;
    border-radius: 5px 5px 0px 0px;
    height: 10vh;
    color: azure;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;
    gap: 2vw;
    border-radius: 5px;
    flex-flow: row wrap;
}

.card:hover {
    box-shadow: 0px 0px 10px $blue-500;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $indigo-800;
}

.footer p {
    margin-top: 1.5vh;
    color: azure;
    font-size: 2.5vh;
}
@media (max-width: 728px) {
    .header {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: stretch;
        background-color: $indigo-800;
    }
    .footer p {
        margin-top: 1.5vh;
        color: azure;
        font-size: 2vh;
    }
}
